.botonsi {
    background-color: green;
    color: white;
    justify-content: center;
    height: 50px;
    width: 50px;
}

.botono {
    background-color: red;
    color: white;
    justify-content: center;
    height: 50px;
    width: 50px;
}
.Hola {
    justify-content: center;
    text-align: center;
    font-size: 30px;
    color: blue;
}