.botonsi {
    display: flex;
    background-color: green;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vh;
}

.botono {
    display: flex;
    background-color: red;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vh;
}
.Hola {
    justify-content: center;
    text-align: center;
    font-size: 30px;
    color: blue;
}