.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.botonsi {
    display: flex;
    background-color: green;
    color: white;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
}

.botono {
    display: flex;
    background-color: red;
    color: white;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
}
.Hola {
    justify-content: center;
    text-align: center;
    font-size: 30px;
    color: blue;
}